.blockContainer{
    background-color: #121212;
    border-radius: 20px;
    margin: 0 269px;
    z-index: 1;
}

.blockPadding{
    padding: 30px 40px;
}

.blockFile{
    width: 100%;
    height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}