.blockContainer{
    background-color: #121212;
    border-radius: 20px;
    margin: 0 auto;
    z-index: 1;
}

.blockPadding{
    padding: 30px 40px;
}

.blockFile{
    position: relative;
    width: 100%;
    padding: 200px 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    margin-top: 7rem;
    margin-bottom: 4rem;
}

.blockFile:hover{
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: 400ms;
}

.blockFile:hover img,
.blockFile:hover span{
    opacity: 0.4;
    transition: 400ms;
}

.addNewPostBlockDistance{
    margin-bottom: 4rem;
}
