.iconTextBlock{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.verticalIconTextBlock{
    background: none;
    flex-direction: column;
    border: none;
    display: flex;
    align-items: center;
}

.baloonBlock{
    padding: 15px 10px;
    border-radius: 10px;
}

.topDistance{
    margin-top: 10px;
}

.leftDistance{
    margin-left: 20px;
}

.clickable{
    cursor: pointer;
}

.baloonBlock:hover{
    transition: 0.3s ease;
    background-color: rgb(27, 27, 27);
}