.defaultIconSize{
    height: 22px;
}

.liked,
.liked * {
    fill: #b30101 !important;
    stroke: #b30101 !important;
}

.actionIcon{
    transition-duration: 0.4s;
}


.actionIcon:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;

}

.rightDistance{
    margin-right: 5px;
}

.userIcon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}