.calendarHeader{
    display: flex;
    justify-content: space-between;
    border-radius: 24px 24px 0 0;
    align-items: center;
    background-color: #1B1B1B;
    padding: 16px;
    flex-shrink: 0;
}

.imageBtn{
    width: 14px;
}

.mr30px{
   margin-right: 30px;
}

.btnBlock{
    display: flex;
    justify-content: space-between;
}

.calendarSection{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textHeader{
    font-size: 32px;
    font-family: Klavika-bold;
    color: #9EFF40;
}

.navBtn{
    background: none;
    border: none;
}

.navBtn img{
    transition: 0.3s ease;
}

.navBtn img:hover{
    transform: scale(1.1);
}

.calendarGrid {
    flex: 1;
    display: flex;
    background: #111111;
    border-radius: 0 0 24px 24px;
    flex-direction: column;
    overflow: hidden;
}

.daysRow,
.weekRow {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    width: 100%;
    flex: 1;
}

.dayHeaderCell{
    box-sizing: border-box;
}

.dayCell {
    border-right: 1px solid rgba(255,255,255,0.08);
    border-bottom: 1px solid rgba(255,255,255,0.08);
    padding: 10px;
    min-height: 0;
    justify-content: flex-start;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.dayHeaderText {
    color: #fff;
    font-size: 12px;
    opacity: 0.85;
    font-family: Roboto-bold;
}

.dayNumber {
    color: #fff;
    font-size: 14px;
    font-family: Roboto-bold;
}

.weekRow > :nth-child(7n) {
    border-right: none;
}