.menu{
    margin-top: 50px;
    flex: 1;
}

.section{
    display: flex;
    margin-top: 12px;
    border-radius: 12px;
    padding: 10px;
    text-decoration: none;
}

.sectionName{
    margin-left: 14px;
    font-size: 18px;
    color: white;
    font-family: 'Klavika-light';
}

.section:hover{
    background-color: #1d1d1d;
    transition: 0.3s;
}