@font-face {
    font-family: 'Roboto-regular';
    src: url('@fonts/Roboto-Regular.ttf') format('woff2');
}

.likeButton{
    background: none;
    flex-direction: column;
    border: none;
    align-items: center;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.likeIcon{
    height: 22px;
}

.likeCount{
    color: white;
    font-family: 'Roboto-regular';
}