.repostButton{
    background: none;
    flex-direction: column;
    border: none;
    align-items: center;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}

.repostIcon{
    height: 22px;
}

.repostCount{
    color: white;
    font-family: 'Roboto-regular';
}